<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>M端nster: parkMe{% block title %}{% endblock %}</title>
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav id="vertical-nav">
            <div id="logos">
                <a id="el-logo" href="https://energielenker-solutions.de/">
                    <img
                            class="img-fluid"
                            src="{{ asset ('/build/static/images/logoEL.png') }}"
                            alt="energielenker solutions"
                            title="energielenker solutions"
                    >
                </a>
                <a id="mshack-logo" href="http://www.muensterhack.de/">
                    <img
                            class="img-fluid"
                            src="{{ asset ('/build/static/images/logo_muensterhack_header.png') }}"
                            alt="M端nsterhack 2020"
                            title="M端nsterhack 2020"
                    >
                </a>
            </div>

            <ul>
                {% for entry in navLinks %}
                    <li{% if entry.active %} class="active"{% endif %}>
                        <a href="{{ entry.url }}">
                            {{ entry.caption }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div id="content-holder">
            <header id="page-header">
                <h1>M端nster:parkme</h1>

                <nav id="top-right-nav">
                    <a href="#">
                        <i class="fa fa-user fa-2x"></i>
                    </a>
                </nav>
            </header>
            <div id="content">
                <div class="container-fluid" id="content-scroll">
                    {% block body %}{% endblock %}
                </div>

            </div>
        </div>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
